- macro bigspace()
  .container
    .row
      .col-lg-6 <br>

- import _self as base

!!!
%html 
  %head 
    %meta(charset="uft-8") 
    %meta(name="viewport" content="width=device-width, initial-scale=1") 
    %title 
      - block title "REV"
    
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    = vendor('bootstrap/css/bootstrap.min.css')
    = asset('base.sass')
    - block css ''
    = vendor('jquery/jquery.min.js')
    = vendor('bootstrap/js/bootstrap.js')
    = asset('konami.js')
    = asset('scroll.coffee')
    - block js ''
    
  %body 
    - block navbar
      .navbar.navbar-default.navbar-fixed-top#nav 
        .navbar-header 
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            
          %a.navbar-brand(href="#{url('home')}")
            = asset('logo.png', 30)
            
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav.scroll-buttons
            - block nav_buttons ""
            
          %ul.nav.navbar-nav.navbar-right
            %li 
              %a(href="#{url('sponsors')}") Sponsors
              
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown") Team Links <b class="caret"></b>
              %ul.dropdown-menu
                - block dropdown
                  %li <a href="#{url('home')}">Main</a>
                  %li <a href="#{url('marketing')}">Marketing</a>
                  %li <a href="#{url('cars')}">Cars</a>
                  %li.divider
                  %li <a href="https://www.facebook.com/pages/Rensselaer-Electric-Vehicle-REV/115564911841565">Facebook</a>
                  %li <a href="https://www.flickr.com/photos/117673995@N07/">Flickr</a>
         
    = base.bigspace() 
    - block content ""
            
    %hr.featurette-divider
    #thisTeamisFantastic
      %center 
        %h1 We're a pretty great club to join
        .row#easter_egg= asset('misc/easter_egg.png', 800)
        
  %footer
    .row
      .col-md-3
        %a(href="mailto:rev@union.rpi.edu") Contact Us! <br>
        %a(href="http://www.union.rpi.edu") Rensselaer Union <br>
        %a(href="http://www.shell.com/global/environment-society/ecomarathon/events/americas.html") Shell Eco-Marathon <br>
        %a(href="#{url('sponsors')}") Check out our sponsors!
      
      .col-md-3
        %a(href="mailto:blejwp@rpi.edu") Paul Blejwas - President <br>
        %a(href="mailto:lamb2@rpi.edu") Ben Lam - Project Manager <br>
        %a(href="mailto:huob@rpi.edu") Belvia Huo - Vice President <br>
        %a(href="mailto:delanr3@rpi.edu") Ryan Delaney - Webmaster
        
      .col-md-3
        .fb-like(data-href="https://www.facebook.com/pages/Rensselaer-Electric-Vehicle-REV/115564911841565" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" colorscheme="dark")