- extends 'blog.haml'
- block title 'REV - Blog (Admin)'
- block js
  = vendor('markdown/lib/markdown.js')
  = vendor('to-markdown/src/to-markdown.js')
  = vendor('bootstrap-markdown/css/bootstrap-markdown.min.css')
  = vendor('bootstrap-markdown/js/bootstrap-markdown.js')
  
- block content
  %br
  .container
    .row
      .col-xs-10.col-xs-offset-2
        - for blog_post in blog_posts | reverse
          .panel.panel-primary
            .panel-heading
              %h1= blog_post.title 
              %p.small
                = blog_post.author 
                = blog_post.date | date('m/d/Y')
            .panel-body
              .blog(data-provide="markdown-editable" id="#{blog_post.title | replace({' ': ''})}")= blog_post.body | markdown
              
            :javascript
              $('##{blog_post.title | replace({' ': ''})}').markdown({
                autofocus: false,
                savable: true,
                onSave: function(e){alert(e.$textarea.attr("id"))}
              });

        .panel.panel-default
          .panel-body
            %h2 New Post
            %form(action="#{url('newBlogPost')}" method="post" role="form")
              .form-group
                %label(for="title") Title
                %input.form-control(name="title" id="title" type="text" placeholder="Title")
              .form-group
                %label(for="body") Body
                %textarea.form-control(name="body" id="body" data-provide="markdown" rows="10") 
              %button.btn.btn-primary(type="submit") Submit
        %br