- extends 'blog_post.haml'
- block js
  - if not mobile
    = vendor('markdown/lib/markdown.js')
    = vendor('to-markdown/src/to-markdown.js')
    = vendor('bootstrap-markdown/css/bootstrap-markdown.min.css')
    = vendor('bootstrap-markdown/js/bootstrap-markdown.js')
    
- block content
  %br
  .container
    .row
      .col-xs-10.col-xs-offset-2
        .panel.panel-default
          .panel-heading
            %h1= blog_post.title 
            %p
              - for tag in blog_post.tags
                %a.blog-tag{:href => url('blogTag', {tag: tag})} 
                  %span.label.label-primary= tag
            %p
              = blog_post.name
              %small= blog_post.date | date('m/d/Y')
          .panel-body
            .blog{:id => 'blog_' ~ blog_post.id}= blog_post.body | markdown
            
          :javascript
            $("##{'blog_' ~ blog_post.id}").click(function() {
              $("##{'blog_' ~ blog_post.id}").markdown({
                savable: true,
                onSave: function(e) {
                  $.post("#{url('editBlogPost')}", {id: '#{blog_post.id}', body: e.getContent()})
                    .done(window.location.reload());
                  }
              });
            });