- macro sponsor(name, image, height, link, description)
  .row.sponsor(link = link|default('#'))
    %center
      .col-lg-6
        %h2= name
        %p= description|default('')
      .col-lg-6= asset('sponsors/' ~ image, height|default(100))
  %br
  %br

- import _self as sponsors

- extends "base.haml"

- block title "REV - Sponsors"

- block js
  = asset('sponsor.coffee')

- block content
  .jumbotron
    .container
    %h1 Sponsorship is key.
    %p
      A lot of our funds come from sponsorship from private companies.
      Without these funds, our club would not be able to do the amazing things it does.
    %p
      %a.btn.btn-primary.btn-lg(role="button" href="mailto:REV@union.rpi.edi")
        Learn about Sponsorship! &raquo;

  .container
    .row
      %center
        %h1 Our Sponsors

    = base.bigspace()
    = sponsors.sponsor("Rensselaer Polytechnic Institute", "rpi.jpg")
    = sponsors.sponsor("Solidworks", "solidworks.jpg")
    = sponsors.sponsor("RPI ECSE Department", "ecse.jpg")
    = sponsors.sponsor("Douglas Mercer 77 Lab at RPI", "mercer.jpg")
    = sponsors.sponsor("Yarde Metals", "yarde.jpg", 200)
    = sponsors.sponsor("Noahs", "noahs.jpg")
    = sponsors.sponsor("Capial District Clean Communities", "cdcc.jpg", 200)
    = sponsors.sponsor("Buchanans", "buchanans.png")
